<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Email Confirmation</title>
</head>
<body>
  <h1>์๋ํ์ธ์, {{nickname}}๋ ๐</h1>
  <p>โ ๋ค์ ๋ฒํผ์ ๋๋ฌ ์ด๋ฉ์ผ ์ธ์ฆ์ ํ์ธ์</p>
  <a href="{{verificationLink}}">Confirm your email</a>
</body>
</html>
